body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1a004e, #3d008d, #6a00c9);
    color: white;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

h1 {
    font-size: 32px;
    text-align: center;
}

.subtitle {
    text-align: center;
    opacity: 0.8;
    margin-bottom: 25px;
}

.box {
    background: rgba(255,255,255,0.1);
    margin: 12px 0;
    padding: 18px;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.box:hover {
    background: rgba(255,255,255,0.15);
}

.box-title {
    font-size: 20px;
    font-weight: bold;
}

.box-content {
    display: none;
    padding-top: 15px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
}

button {
    width: 100%;
    padding: 13px;
    background: #00d36f;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}
